<div class="card shadow p-3">

<div class="d-flex justify-content-between mb-3">
<h5>Notices</h5>

<button class="btn btn-primary"
data-bs-toggle="modal"
data-bs-target="#noticeModal"
(click)="resetForm()">
+ Add Notice
</button>
</div>

<table class="table table-hover">

<thead class="table-dark">
<tr>
<th>Title</th>
<th>Category</th>
<th>Date</th>
<th class="text-end">Actions</th>
</tr>
</thead>

<tbody>

<tr *ngFor="let n of notices">
<td>{{n.title}}</td>
<td>{{n.category}}</td>
<td>{{n.createdAt | date}}</td>

<td class="text-end">
<button class="btn btn-warning btn-sm me-2"
(click)="editNotice(n)"
data-bs-toggle="modal"
data-bs-target="#noticeModal">Edit</button>

<button class="btn btn-danger btn-sm"
(click)="deleteNotice(n._id)">Delete</button>
</td>
</tr>

<tr *ngIf="notices.length==0">
<td colspan="4" class="text-center">No Data</td>
</tr>

</tbody>

</table>

</div>

<!-- MODAL -->
<div class="modal fade" id="noticeModal">
<div class="modal-dialog">
<div class="modal-content">

<div class="modal-header">
<h5>{{isEdit ? 'Edit':'Add'}} Notice</h5>
<button class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">

<input class="form-control mb-2"
placeholder="Title"
[(ngModel)]="noticeData.title">

<input class="form-control mb-2"
placeholder="Category"
[(ngModel)]="noticeData.category">

<textarea class="form-control mb-2"
placeholder="Description"
[(ngModel)]="noticeData.description"></textarea>

</div>

<div class="modal-footer">
<button class="btn btn-primary"
(click)="saveNotice()"
data-bs-dismiss="modal">
{{isEdit ? 'Update':'Save'}}
</button>
</div>

</div>
</div>
</div>