<div class="student-box">

  <div class="header">
    <h2>Students</h2>
    <input [(ngModel)]="search" placeholder="Search..." />
  </div>

  <table>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Class</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let s of students">
      <td>{{s.name}}</td>
      <td>{{s.email}}</td>
      <td><span class="badge">{{s.class}}</span></td>
      <td>
        <button class="edit" (click)="edit(s)">Edit</button>
        <button class="delete" (click)="delete(s._id)">Delete</button>
      </td>
    </tr>

  </table>

</div>