.student-container {
  background: white;
  padding: 20px;
  border-radius: 15px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.search-box input {
  padding: 10px;
  width: 220px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* FORM */
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
}

/* BUTTONS */
.add-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.reset-btn {
  background: gray;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.edit {
  background: #f59e0b;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
}

.delete {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
}

/* TABLE */
.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #0f172a;
  color: white;
}

th, td {
  padding: 12px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #eee;
}

tbody tr:hover {
  background: #f1f5f9;
}

/* BADGE */
.badge {
  background: #2563eb;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

/* EMPTY */
.empty {
  text-align: center;
  padding: 20px;
}