.dashboard{
display:flex;
height:100vh;
background:#f1f5f9;
}

/* SIDEBAR */

.sidebar{
width:240px;
background:#0f172a;
color:white;
padding:20px;
display:flex;
flex-direction:column;
}

.logo-section{
font-size:20px;
font-weight:600;
margin-bottom:30px;
text-align:center;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
display:flex;
align-items:center;
gap:12px;
padding:12px;
border-radius:10px;
cursor:pointer;
transition:0.3s;
margin-bottom:8px;
}

.sidebar li i{
font-size:16px;
}

.sidebar li:hover{
background:#1e293b;
}

.sidebar li.active{
background:linear-gradient(90deg,#3b82f6,#2563eb);
}

/* MAIN */

.main{
flex:1;
display:flex;
flex-direction:column;
}

/* TOPBAR */

.topbar{
background:white;
padding:15px 20px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.topbar h4{
margin:0;
font-weight:600;
}

/* RIGHT */

.top-right{
display:flex;
align-items:center;
gap:20px;
}

/* NOTIFICATION */

.notification{
position:relative;
cursor:pointer;
}

.notification i{
font-size:20px;
}

.badge{
position:absolute;
top:-5px;
right:-8px;
background:red;
color:white;
font-size:10px;
padding:3px 6px;
border-radius:50%;
}

/* ADMIN */

.admin{
display:flex;
align-items:center;
gap:8px;
cursor:pointer;
}

.admin i{
font-size:18px;
}

/* DROPDOWN */

.admin-section{
position:relative;
}

.dropdown{
position:absolute;
right:0;
top:40px;
background:white;
box-shadow:0 4px 12px rgba(0,0,0,0.2);
border-radius:10px;
overflow:hidden;
min-width:150px;
}

.dropdown a{
display:block;
padding:10px;
text-decoration:none;
color:#333;
}

.dropdown a:hover{
background:#f1f5f9;
}

/* CONTENT */

.content{
padding:20px;
overflow:auto;
}